CSETWebApi/CSETWeb_Api/BusinessLogic/Models/diagramXsd/diagram.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="mxGraphModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="root">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element maxOccurs="unbounded" name="mxCell">
                  <xs:complexType>
                    <xs:sequence minOccurs="0">
                      <xs:element name="mxGeometry">
                        <xs:complexType>
                          <xs:sequence minOccurs="0">
                            <xs:element name="mxPoint">
                              <xs:complexType>
                                <xs:attribute name="x" type="xs:decimal" use="required" />
                                <xs:attribute name="y" type="xs:decimal" use="required" />
                                <xs:attribute name="as" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="relative" type="xs:unsignedByte" use="optional" />
                          <xs:attribute name="as" type="xs:string" use="required" />
                          <xs:attribute name="x" type="xs:short" use="optional" />
                          <xs:attribute name="y" type="xs:short" use="optional" />
                          <xs:attribute name="width" type="xs:unsignedByte" use="optional" />
                          <xs:attribute name="height" type="xs:unsignedByte" use="optional" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                    <xs:attribute name="value" type="xs:string" use="optional" />
                    <xs:attribute name="parent" type="xs:unsignedByte" use="optional" />
                    <xs:attribute name="style" type="xs:string" use="optional" />
                    <xs:attribute name="source" type="xs:unsignedByte" use="optional" />
                    <xs:attribute name="target" type="xs:unsignedByte" use="optional" />
                    <xs:attribute name="edge" type="xs:unsignedByte" use="optional" />
                    <xs:attribute name="vertex" type="xs:unsignedByte" use="optional" />
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="object">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="mxCell">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="mxGeometry">
                              <xs:complexType>
                                <xs:attribute name="x" type="xs:decimal" use="required" />
                                <xs:attribute name="y" type="xs:decimal" use="required" />
                                <xs:attribute name="width" type="xs:unsignedShort" use="required" />
                                <xs:attribute name="height" type="xs:unsignedShort" use="required" />
                                <xs:attribute name="as" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="style" type="xs:string" use="required" />
                          <xs:attribute name="parent" type="xs:unsignedByte" use="required" />
                          <xs:attribute name="vertex" type="xs:unsignedByte" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="SAL" type="xs:string" use="optional" />
                    <xs:attribute name="label" type="xs:string" use="required" />
                    <xs:attribute name="internalLabel" type="xs:string" use="required" />
                    <xs:attribute name="zoneType" type="xs:string" use="optional" />
                    <xs:attribute name="zone" type="xs:unsignedByte" use="optional" />
                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                    <xs:attribute name="ComponentGuid" type="xs:string" use="optional" />
                    <xs:attribute name="HasUniqueQuestions" type="xs:string" use="optional" />
                    <xs:attribute name="IPAddress" type="xs:string" use="optional" />
                    <xs:attribute name="Description" type="xs:string" use="optional" />
                    <xs:attribute name="Criticality" type="xs:string" use="optional" />
                    <xs:attribute name="HostName" type="xs:string" use="optional" />
                    <xs:attribute name="parent" type="xs:unsignedByte" use="optional" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="dx" type="xs:unsignedByte" use="required" />
      <xs:attribute name="dy" type="xs:unsignedByte" use="required" />
      <xs:attribute name="grid" type="xs:unsignedByte" use="required" />
      <xs:attribute name="gridSize" type="xs:unsignedByte" use="required" />
      <xs:attribute name="guides" type="xs:unsignedByte" use="required" />
      <xs:attribute name="tooltips" type="xs:unsignedByte" use="required" />
      <xs:attribute name="connect" type="xs:unsignedByte" use="required" />
      <xs:attribute name="arrows" type="xs:unsignedByte" use="required" />
      <xs:attribute name="fold" type="xs:unsignedByte" use="required" />
      <xs:attribute name="page" type="xs:unsignedByte" use="required" />
      <xs:attribute name="pageScale" type="xs:unsignedByte" use="required" />
      <xs:attribute name="pageWidth" type="xs:unsignedByte" use="required" />
      <xs:attribute name="pageHeight" type="xs:unsignedByte" use="required" />
      <xs:attribute name="math" type="xs:unsignedByte" use="required" />
      <xs:attribute name="shadow" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xsd:schema>